<% this_year=2012 %>
<% mymonth=(params[:name].chomp).to_i %>
<% first_day=Date.new(this_year,mymonth,1) %>
<% last_day=Date.new(this_year,mymonth,-1) %>
<%= "-------#{mymonth}月-------" %>
<br>
<table border=2>
<tr>
<%(first_day..last_day).each do |day|%>
<%if (day.day%7) == 0 then%>
<td><%= day.day %></td>
</tr>
<%elsif (day.day%7) == 1 then%>
<td><%= day.day %></td>
<%else %>
<td><%= day.day %></td>
<% end %>
<% end %>
</td>
</table>
