<html>
  <head>
    <link rel=stylesheet type="text/css" href="style-sheet.css">
  </head>
  <body>
    <h1>2012年のカレンダー</h1>
    <%= yield %>
    <a href="/">戻る</a>
    <footer>
      <p>勉強中</p>
    </footer>
  </body>
</html>
